<div class="statistics">
    <svg
        class="statistics__background"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 623.415 595.203"
        preserveAspectRatio="none"
    >
        <path
            d="M422.839-92.888c163.732,62.43-125.536,342.58-228.5,364.814S-62.666,186.906,0,31.526,259.108-155.318,422.839-92.888Z"
            transform="matrix(0.848, 0.53, -0.53, 0.848, 157.97, 112.009)"
            fill="rgba(28,132,148,0.06)"></path>
    </svg>
    <p class="statistic">
        <strong>8+ years</strong> industry experience
    </p>
    <p class="statistic">
        <strong>over 100</strong> bespoke websites<br />
        created
    </p>
</div>

<style>
    .statistics {
        position: relative;
        font-size: var(--step-2);
        text-transform: uppercase;
        color: var(--color-primary);
        letter-spacing: 0.1em;
        position: relative;
        margin-top: var(--space-80);
        max-width: 300px;
    }
    .statistics__background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -45%);
        width: 180%;
        height: 250%;
    }
    .statistic {
        margin-top: 0;
    }
    .statistic strong {
        display: block;
        font-size: var(--step-4);
        line-height: 1.5em;
    }
</style>
